# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
osc.iml
src/main/resources/static/
src/main/resources/templates/
target/
/.gitignore
/osc.log
